@model MVCBlogTez.Models.Kullanici

@{
    ViewBag.Title = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container loginForm section">
        @using (Html.BeginForm("Login", "Home"))
        {

            if (ViewBag.Err != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Err
                </div>
            }

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="formCerceve">
                <h2>Giriş Yap</h2>
                <hr />
                <div class="form-group">
                    @Html.Label("Email:")
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:red", @data_valmsg_for = "Email" })

                </div>
                <div class="form-group">
                    @Html.Label("Şifre:")
                    @Html.PasswordFor(x => x.Parola, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Parola, "", new { @style = "color:red", @data_valmsg_for = "Parola" })
                </div>
                <div class="form-group text-right">
                    <input type="submit" name="login" value="Giriş Yap" />
                </div>
            </div>
        }
    </div>