@model MVCBlogTez.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
    <div class="container loginForm section">
        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
        {
            if (TempData["bos"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["bos"]
                </div>
            }
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="formCerceve">
                <h2>Kayıt Ol</h2>
                <hr />
                <div class="row">
                    <div class="col-12 col-md-6">
                        @Html.Label("Ad:")
                        @Html.TextBoxFor(x => x.Kullanici.Ad, new { @class = "form-control", @Name = "Ad", @id = "Ad" })
                        @Html.ValidationMessageFor(x => x.Kullanici.Ad, "", new { @style = "color:red", @data_valmsg_for = "Ad" })
                    </div>
                    <div class="col-12 col-md-6">
                        @Html.Label("Soyad:")
                        @Html.TextBoxFor(x => x.Kullanici.Soyad, new { @class = "form-control", @Name = "Soyad", @id = "Soyad" })
                        @Html.ValidationMessageFor(x => x.Kullanici.Soyad, "", new { @style = "color:red", @data_valmsg_for = "Soyad" })
                    </div>
                    <div class="col-12 col-md-6">
                        @Html.Label("Email:")
                        @Html.TextBoxFor(x => x.Kullanici.Email, new { @class = "form-control", @Name = "Email", @id = "Email" })
                        @Html.ValidationMessageFor(x => x.Kullanici.Email, "", new { @style = "color:red", @data_valmsg_for = "Email" })
                    </div>
                    <div class="col-12 col-md-6">
                        @Html.Label("Şifre:")
                        @Html.PasswordFor(x => x.Kullanici.Parola, new { @class = "form-control", @Name = "Parola", @id = "Parola" })
                        @Html.ValidationMessageFor(x => x.Kullanici.Parola, "", new { @style = "color:red", @data_valmsg_for = "Parola" })
                    </div>
                    <div class="col-12 col-md-6">
                        @Html.Label("Telefon:")
                        @Html.TextBoxFor(x => x.Kullanici.Telefon, new { @class = "form-control", @Name = "Telefon", @id = "Telefon" })
                    </div>
                    <div class="col-12 col-md-6">
                        @Html.Label("Doğum Tarihi:")
                        @Html.TextBoxFor(x => Model.Kullanici.DogumTarihi, new { type = "datetime-local", @Name = "DogumTarihi", @id = "DogumTarihi" })
                        @Html.ValidationMessageFor(x => x.Kullanici.DogumTarihi, "", new { @style = "color:red", @data_valmsg_for = "DogumTarihi" })
                    </div>
                    <div class="col-12 col-md-6">
                        @Html.Label("Cinsiyet:")<br />

                        @foreach (var Cinsiyet in Model.Cinsiyetler)
                        {
                            <span> </span>@Html.RadioButtonFor(x => Cinsiyet.CinsiyetId, Cinsiyet.CinsiyetId, new { @Name = "CinsiyetId", @id = "CinsiyetId" }) <span> </span> @Html.Label(Cinsiyet.CinsiyetAd)
                        }
                    </div>
                </div>
                <div class="form-group text-right">
                    <input type="submit" name="login" value="Kayıt Ol" />
                </div>
            </div>
        }
    </div>