<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Uploads/SiteImages/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Uploads/SiteImages/apple-touch-icon.png">

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">

        @Html.Partial("~/Views/Home/PartialView/_Topbar.cshtml")

        @Html.Partial("~/Views/Home/PartialView/_Menu.cshtml")

        @{Html.RenderAction("Slider", "Home"); }

        @RenderBody()

        @Html.Partial("~/Views/Home/PartialView/_Footer.cshtml")

        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->
    <!-- Core JavaScript
    ================================================== -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>