@model MVCBlogTez.Models.ViewModels.EtiketViewModel
@{
    ViewBag.Title = "EtiketDuzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="container loginForm section">
        @using (Html.BeginForm("EtiketDuzenle", "Admin", FormMethod.Post))
        {

            if (TempData["err"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["err"]
                </div>
            }

            @Html.AntiForgeryToken()
            <div class="formCerceve">
                <h2>Etiket Düzenle</h2>
                <hr />
                <div class="form-group">
                    @Html.HiddenFor(x => x.Etiket.EtiketId, new { @Name = "EtiketId" })
                    @Html.Label("Etiket Adı:")
                    @Html.TextBoxFor(x => x.Etiket.EtiketAd, new { @class = "form-control", @Name = "EtiketAd" })
                </div>
                <div class="form-group">
                    @Html.Label("Yazı Adı:")<br />
                    <select name="yazilar">
                        @foreach (var Yazi in Model.Yazilar)
                        {
                            <option value="@Yazi.YaziId" name="YaziId">@Yazi.Baslik</option>
                        }
                    </select>
                </div>
        <div class="form-group text-right">
            <input type="submit" name="login" value="Etiket Düzenle" />
        </div>
    </div>
        }
    </div>