@model MVCBlogTez.Models.ViewModels.EtiketViewModel
@{
    ViewBag.Title = "EtiketEkle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container loginForm section">
    @using (Html.BeginForm("EtiketEkle", "Admin"))
    {

        if (TempData["err"] != null)
        {
            <div class="alert alert-danger">
                @TempData["err"]
            </div>
        }

        @Html.AntiForgeryToken()
        <div class="formCerceve">
            <h2>Etiket Ekle</h2>
            <hr />
            <div class="form-group">
                @Html.Label("Etiket Adı:")
                @Html.TextBoxFor(x => Model.Etiket.EtiketAd, new { @class = "form-control", @Name="EtiketAd" })
            </div>
            <div class="form-group">
                @Html.Label("Yazı Adı:")<br />
                <select name="yazilar">
                    @foreach (var Yazi in Model.Yazilar)
                    {
                        <option value="@Yazi.YaziId" name="YaziId">@Yazi.Baslik</option>
                    }
                </select>
            </div>
            
            <div class="form-group text-right">
                <input type="submit" name="login" value="Etiket Ekle" />
            </div>
        </div>
    }
</div>