@model MVCBlogTez.Models.Rol
@{
    ViewBag.Title = "RolEkle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="container loginForm section">
        @using (Html.BeginForm("RolEkle", "Admin"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="formCerceve">
                <h2>Rol Ekle</h2>
                <hr />
                <div class="form-group">
                    @Html.Label("Rol Adı:")
                    @Html.TextBoxFor(x => x.RolAd, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.RolAd, "", new { @style = "color:red", @data_valmsg_for = "RolAd" })
                </div>
                <div class="form-group text-right">
                    <input type="submit" name="login" value="Rol Ekle" />
                </div>
            </div>
        }
    </div>